body {
  background-color: #f7dad9;
}

h1 {
  margin-left: 200px;
}

img {
  width: 400px;
  height: 400px;
  transition: all 2s;
}

img:hover {
  transform: rotate(20deg) scale(1, 1);
}

.image {
  text-align: left;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#wildAnimals:hover {
  background-color: gold;
  margin-left: 250px;
  margin-right: 250px;
  text-align: center;
}
